@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

@import "tailwindcss";

@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

@theme {
	--color-accent: #6a42c2;
	--color-accent-thick: #563a9c;
	--color-purple: #7e1891;
	/* --color-base-bg: #f6f8fa; */

	--font-ptsans: "PT Sans", Arial, sans-serif;
	--font-raleway: "Raleway", Arial, sans-serif;
	--font-roboto: "Roboto", Arial, sans-serif;
}
